{
   "parser": "babel-eslint",
   "extends": "eslint-config-airbnb",
   "parserOptions": {
     "ecmaFeatures": {
       "jsx": true,
       "classes": true
     }
   },
   "env": {
     "browser": true,
     "mocha": true
   },
   "globals": {
     "window": true,
     "navigator": true,
     "__API_URL__": true
   },
   "settings": {
     "import/resolver": {
       "node": {
         "moduleDirectory": ["node_modules", "src"]
       }
     }
   },
   "rules": {
     "jsx-a11y/click-events-have-key-events": [0],
     "jsx-a11y/anchor-is-valid": [0],
     "jsx-a11y/no-static-element-interactions": [0],
     "react/forbid-prop-types":[0],
     "max-len": ["error", { "code": 200 }],
     "react/no-array-index-key" : [0],
     "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
     "import/no-unresolved": [2, {"ignore": ["salt-ui"]}],
     "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],
     "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}]
   }
 }
