@import "../theme.less";
.a-btn{

  color:@brk-text-white-color;
  background-color: @primary-color;
  display: inline-block;
  padding:5px;
  &:hover{
    background-color:@brk-text-white-color;
    color: @primary-color;
  }
}
