@import "~assets/less/theme.less";

.copyright-container{
  max-width: @brk-page-max-width;
  margin: 0px auto 30px;
}
.logo{
  height:50px;
}
.copyright{
  height: 50px;
  line-height: 50px;
  padding-left: 35px;
}
