@import "~assets/less/theme.less";
.black-link{
  color: @text-color;
  line-height: 2em;
}
.footer-container{
  max-width: @brk-page-max-width;
  margin: 0 auto;
  padding: 60px 20px 20px;
}
.footer-ul{
  list-style: none;
  padding:0px;
  margin:0px;
}

.footer-title{
  font-weight: 300;
  padding: 10px 0px;
  margin-bottom: 20px;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    left: 0px;
    bottom:0px;
    width: 19%;
    height:2px;
    background-color: @primary-color;
  }
}
.logo-title{
  margin-top: 30px;
  margin-bottom: 10px;
}
.en-logo{
  width: 160px;
  padding-top: 17px;
}
.zh-logo{
  width: 160px;
}
.qr-code{
  width: 150px;
  height: 150px;
}
