@import "~assets/less/theme.less";
.sidebar-cart{
  background-color: transparent;
  margin-left: 20px;
}
.tab-block-title{
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
.order-step-next-btn{
  float: right;
}
.order-step-previous-btn{
  float: left;
}

/*choose user*/
.choose-user-search{
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.id-thumbnail{
  width: 40px;
  height:40px;
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
  box-sizing: content-box;
}

.selected-user-info-table{
  width: 100%;
}
.selected-user-info-table-title{
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  width: 150px;
  padding-top: 10px;

}
.selected-user-info-table-info{
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
}

/*choose goods*/
.product-row{
  height: 30px;
  line-height: 29px;
}
.choose-good-block{
  padding-top: 20px;
}
.choose-goods-search-block{
  margin-bottom: 30px;
}
.choose-good-block-content{
  background-color: transparent;
}
.choose-goods-tab-title{
  padding-top: 0px;
}
.choose-goods-cart{
 position: relative;
  padding: 0px 20px;
  background-color: #ffffff;
  margin-top: -10px;
}
.choose-goods-cart-title{
  padding-top: 10px;
  margin-bottom: 10px !important;
}
.choose-goods-cart-content{
  min-height: 200px;
  max-height: 1000px;
  overflow: auto;
  padding-bottom: 30px;
}
.choose-goods-cart-footer{
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  background-color: @primary-color;
  height: 30px;
  line-height: 30px;
  padding: 10px 20px;
  color: @brk-text-white-color;
  box-sizing: content-box;
  font-weight: 300;
  font-size: 12px;
}
.null-goods-cart{
  height: 200px;
  display: flex;
  align-items: center;
}
.choose-good-cart-list{
  list-style: none;
  padding:0px 10px 20px;
  font-size: 12px;

}
.choose-good-cart-product{
  padding:10px 0px 3px;
  maring:0px;
  border-bottom: 1px solid @brk-body-bg-color;

}
.product-label-name{
  display: inline-block;
  max-width: 83px;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
}
.choose-good-price-input{
  padding: 2px 5px;
  font-size: 12px;
  width:70px;

}
.product-label{
  vertical-align: middle;
}
.product-value{
  vertical-align: middle;
}
.product-price-input{
  width:83px;
}
.product-prices{
  text-align: left;
  height:28px;
}
.product-price{
  height:28px;
  line-height: 28px;
  display: inline-block;
}
.edit-price-btn{
  float: right;
}
.save-price-btn{
  float: right;
}
.delete-product-btn {
  float: right;
}

/* split order */
.split-order-block{
  padding-top: 20px;
}

.split-order-content{
  background-color: transparent;
}
.create-sub-order-btn{
  float: right;
  margin-top: 4px;
}
.null-sub-order{
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.split-order-sub-orders-block{
  padding: 0px 20px;
  background-color: #ffffff;
  margin-top: -10px;
}
.split-order-sub-orders-block-title{
  padding-top: 10px;
}
.split-order-sub-orders-block-content{
  min-height: 200px;
  max-height: 1000px;
  overflow: auto;
  padding-bottom: 30px;
}
.split-order-sub-order-title{
  margin-bottom: 0px !important;
}
.split-order-sub-order-block{
  margin-bottom: 0px !important;
}
.split-order-sub-order-goods-list{
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.split-order-sub-order-footer{
  background-color: @primary-color;
  color: @brk-text-white-color;
  font-size: 12px;
  padding: 5px;
}
/*choose logistics*/
.choose-logistic-block{
  padding-top: 20px;
}
/*confirm invoice*/
.confirm-invoice-block{
  padding-top: 20px;
}
.confirm-invoice-block-footer{
  padding-top: 14px;
}
.confirm-invoice-address.confirm-invoice-address{
  margin-bottom: 20px;
  background: #ffffff;
}
.confirm-invoice-ul{
  list-style-type: none;
  padding:0px;
  margin:0px;
}
.confirm-invoice-ul-table-header-li{
  width: 50%;
  box-sizing: border-box;
}
.confirm-invoice-ul-footer-li.confirm-invoice-ul-footer-li{
  float:right;
  padding-right: 10px;
}
.confirm-invoice-ul-address-li.confirm-invoice-ul-address-li{
  display: block;
  float:none;
  padding: 0px;
}
.confirm-invoice-total-shipping-cost{
  text-align: right;
  font-weight: 500;
  padding: 20px 10px 0px 0px;
  margin-bottom: 0px;
  font-size: 18px;
}
