@import "~assets/less/theme.less";
.product-img{
  width: 40px;
  height: 40px;
}
.product-img-popover{
  max-width: 300px;
  max-height: 300px;
}
.product-name, .product-sku{
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
}
.product-name {
  font-weight: 600;
}
.product-sku{

}

